:root {
  --dark: #1d1e28;
  --charcoal-grey: #373b52;
  --pale-teal: #7bbdb7;
  --tealish: #1faa9d;
  --pale-grey: #f8f9fd;
  --light-blue-grey: #cfd2e6;
  --bluey-grey: #acafc0;
  --battleship-grey: #666a80;
  --azul: #1847dc;
  --cerulean: #0681cd;
  --lipstick: #c91247;
  --pale-grey-two: #f3f4f8;
  --bluey-grey-two: #a3a7c0;
  --white: #f9f9f9;
  --full-white: #ffffff;
  --dusty-orange: #ea5e3c;

  --table-border: rgba(29, 30, 40, 0.3);
  --table-row-disabled-dark: hsl(321, 20%, 84%);;
  --table-row-disabled: hsl(55, 5%, 86%);
  --table-row-disabled-light: hsl(232, 19%, 96%);
}
